<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wh.js02.mapper.Js03UserMapper">
  <resultMap id="BaseResultMap" type="com.wh.js02.entity.Js03User">
    <id column="juid" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="user_code" jdbcType="VARCHAR" property="userCode" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="dept_code" jdbcType="VARCHAR" property="deptCode" />
    <result column="parent_dept_code" jdbcType="VARCHAR" property="parentDeptCode" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <association property="js03Role" javaType="com.wh.js02.entity.Js03Role">
      <id column="jrid" jdbcType="INTEGER" property="id" />
      <result column="role_code" jdbcType="VARCHAR" property="roleCode" />
      <result column="role_name" jdbcType="VARCHAR" property="roleName" />
      <result column="status" jdbcType="INTEGER" property="status" />
      <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
      <result column="create_by" jdbcType="VARCHAR" property="createBy" />
      <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
      <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
      <collection property="js03MenuList" javaType="java.util.ArrayList" ofType="com.wh.js02.entity.Js03Menu">
        <id column="jmid" jdbcType="INTEGER" property="id" />
        <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
        <result column="permission_value" jdbcType="VARCHAR" property="permissionValue" />
        <result column="parent_id" jdbcType="INTEGER" property="parentId" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
        <result column="status" jdbcType="INTEGER" property="status" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="create_by" jdbcType="VARCHAR" property="createBy" />
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
        <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
      </collection>
    </association>
  </resultMap>
  <sql id="Base_Column_List">
    id, user_name, password, user_code, phone, role_id, dept_code, parent_dept_code, 
    status, create_by, create_time, update_by, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from js03_user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from js03_user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wh.js02.entity.Js03User">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into js03_user (user_name, password, user_code, 
      phone, role_id, dept_code, 
      parent_dept_code, status, create_by, 
      create_time, update_by, update_time
      )
    values (#{userName,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{userCode,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{roleId,jdbcType=INTEGER}, #{deptCode,jdbcType=VARCHAR}, 
      #{parentDeptCode,jdbcType=VARCHAR}, ${1}, #{createBy,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.wh.js02.entity.Js03User">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into js03_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        user_name,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="userCode != null">
        user_code,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="roleId != null">
        role_id,
      </if>
      <if test="deptCode != null">
        dept_code,
      </if>
      <if test="parentDeptCode != null">
        parent_dept_code,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null">
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        #{roleId,jdbcType=INTEGER},
      </if>
      <if test="deptCode != null">
        #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="parentDeptCode != null">
        #{parentDeptCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wh.js02.entity.Js03User">
    update js03_user
    <set>
      <if test="userName != null">
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="userCode != null">
        user_code = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="roleId != null">
        role_id = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="deptCode != null">
        dept_code = #{deptCode,jdbcType=VARCHAR},
      </if>
      <if test="parentDeptCode != null">
        parent_dept_code = #{parentDeptCode,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wh.js02.entity.Js03User">
    update js03_user
    set user_name = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      user_code = #{userCode,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      role_id = #{roleId,jdbcType=INTEGER},
      dept_code = #{deptCode,jdbcType=VARCHAR},
      parent_dept_code = #{parentDeptCode,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="userLogin" parameterType="com.wh.js02.entity.Js03User" resultMap="BaseResultMap">
    SELECT
          ju.id as juid,ju.user_name,ju.`password`,ju.user_code,ju.phone,
          ju.role_id,
          jr.id as jrid,jr.role_code,jr.role_name,
          jm.id as jmid,jm.menu_name
      FROM
          js03_user ju
      LEFT JOIN js03_role jr ON ju.role_id = jr.id
      LEFT JOIN js03_role_menu jrm ON jr.id = jrm.role_id
      LEFT JOIN js03_menu jm ON jrm.menu_id = jm.id
    where ju.phone = #{phone} and ju.status=${1}
  </select>
  <select id="pageQuery" resultType="java.util.List" resultMap="BaseResultMap">
    select * from js03_user
    where status = ${1}
    limit #{offset},#{number}
  </select>
  <select id="queryUserNum" resultType="int">
    select count(id) from js03_user
    where status = ${1}

  </select>
  
  <update id="updateStatus" parameterType="com.wh.js02.entity.Js03User">
    update js03_user
    set
    status = ${-1}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="fuzzyQuery" resultType="List" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from js03_user
    where
    user_name like concat('%',#{searchKey},'%')
    or user_code like concat('%', #{searchKey},'%')
    or phone like concat('%', #{searchKey}, '%')
    and status = ${1}
  </select>


</mapper>