<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wh.js02.mapper.Js03MenuMapper">
  <resultMap id="BaseResultMap" type="com.wh.js02.entity.Js03Menu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="permission_value" jdbcType="VARCHAR" property="permissionValue" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
  </resultMap>
  <sql id="Base_Column_List">
    id, menu_name, permission_value, parent_id, type, sort, status, create_time, create_by, 
    update_time, update_by
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from js03_menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from js03_menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wh.js02.entity.Js03Menu">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into js03_menu (menu_name, permission_value, parent_id, 
      type, sort, status, 
      create_time, create_by, update_time, 
      update_by)
    values (#{menuName,jdbcType=VARCHAR}, #{permissionValue,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{type,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updateBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.wh.js02.entity.Js03Menu">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into js03_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuName != null">
        menu_name,
      </if>
      <if test="permissionValue != null">
        permission_value,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="permissionValue != null">
        #{permissionValue,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wh.js02.entity.Js03Menu">
    update js03_menu
    <set>
      <if test="menuName != null">
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="permissionValue != null">
        permission_value = #{permissionValue,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wh.js02.entity.Js03Menu">
    update js03_menu
    set menu_name = #{menuName,jdbcType=VARCHAR},
      permission_value = #{permissionValue,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <insert id="insertMenu" parameterType="com.wh.js02.entity.Js03Menu">
    insert into js03_menu (menu_name, permission_value, parent_id, status)
    VALUES (#{menuName}, #{permissionValue}, #{parentId}, ${1})
  </insert>

  <select id="select" resultType="List" resultMap="BaseResultMap">
    select id, menu_name,permission_value,parent_id,TYPE ,sort
    from js03_menu
    WHERE status=${1}

  </select>

  <update id="updateById" parameterType="com.wh.js02.entity.Js03Menu">
    update js03_menu
    set menu_name = #{menuName,jdbcType=VARCHAR},
     permission_value = #{permissionValue},
     parent_id = #{parentId}
    where id  = #{id}
  </update>

  <update id="deleteById">
    update js03_menu
    set status = ${-1}
    WHERE id = #{id}
  </update>

  <select id="fuzzyQuery" resultMap="BaseResultMap" resultType="list">
    select id,menu_name,permission_value,parent_id
    from js02.js03_menu
    where status = ${1} AND
    menu_name like concat('%',#{searchKey},'%') OR
    permission_value like concat('%',#{searchKey},'%')
  </select>

</mapper>