<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wh.js02.mapper.RegisterMapper">
    <insert id="insertUserOne" parameterType="com.wh.js02.entity.UserEntity">
        insert into `user_entity`
        (`phone_number`,`user_password`,`status`,`created_time`,`created_by`,`updated_time`,`updated_by`)
        VALUES (#{phoneNumber},#{userPassword}, #{status}, #{createdTime}, #{createdBy}, #{updatedTime}, #{updatedBy})
    </insert>


</mapper>